# **Proyecto EDA - Exploratory Data Analysis**

## Año 2021

In [2]:
import numpy as np
import pandas as pd
pd.options.mode.copy_on_write = True
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
direccion1="./Datasets/2020_Accidentalidad.csv"
direccion2="./Datasets/2021_Accidentalidad.csv"
direccion3="./Datasets/2022_Accidentalidad.csv"
direccion4="./Datasets/2023_Accidentalidad.csv"
direccion5="./Datasets/2024_Accidentalidad.csv"
direccion6="./Datasets/2025_Accidentalidad.csv"

In [7]:
df_accidentes_2021=pd.read_csv(direccion2, sep=";", encoding="utf-8")
df_21=df_accidentes_2021.copy()

In [8]:
#En primer lugar, fechamos un vistazo a las 5 primeras filas
df_21.head(5)

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,14.0,Sin asistencia sanitaria,444976.0,4470508.0,N,NaN
1,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,444976.0,4470508.0,N,NaN
2,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,Desconocido,Desconocido,NaN,NaN,444976.0,4470508.0,N,NaN
3,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 10 a 14 años,Hombre,14.0,Sin asistencia sanitaria,444976.0,4470508.0,N,NaN
4,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 35 a 39 años,Mujer,14.0,Sin asistencia sanitaria,444976.0,4470508.0,N,NaN

In [9]:
#Visualizamos información general del dataframe:
print(f"La base de datos tiene {len(df_21.columns)} campos y {len(df_21)} registros.")
df_21.info()

La base de datos tiene 19 campos y 41783 registros.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41783 entries, 0 to 41782
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   num_expediente        41783 non-null  object
 1   fecha                 41783 non-null  object
 2   hora                  41783 non-null  object
 3   localizacion          41783 non-null  object
 4   numero                41780 non-null  object
 5   cod_distrito          41780 non-null  float64
 6   distrito              41780 non-null  object
 7   tipo_accidente        41779 non-null  object
 8   estado_meteorológico  37355 non-null  object
 9   tipo_vehiculo         41729 non-null  object
 10  tipo_persona          41780 non-null  object
 11  rango_edad            41783 non-null  object
 12  sexo                  41783 non-null  object
 13  cod_lesividad         22819 non-null  float64
 14  lesividad             22819 non-null  object
 15  coordenada_x_utm      41771 non-null  float64
 16  coordenada_y_utm      41771 non-null  float64
 17  positiva_alcohol      41616 non-null  object
 18  positiva_droga        89 non-null     float64
dtypes: float64(5), object(14)
memory usage: 6.1+ MB

In [11]:
#Visualizamos información de las variables numéricas
#Variables numéricas: cod_lesividad, coordenada_x_utm, coordenada_y_utm, positiva_alcohol
df_21.describe()

,cod_distrito,cod_lesividad,coordenada_x_utm,coordenada_y_utm,positiva_droga
count,41780.000000,22819.000000,41771.000000,4.177100e+04,89.0
mean,9.887697,9.996626,442087.280721,4.474754e+06,1.0
std,5.609092,4.741567,3435.287175,3.933428e+03,0.0
min,1.000000,1.000000,429078.000000,4.463455e+06,1.0
25%,5.000000,7.000000,439904.000000,4.471734e+06,1.0
50%,10.000000,14.000000,441777.000000,4.474815e+06,1.0
75%,14.000000,14.000000,443996.000000,4.477463e+06,1.0
max,21.000000,14.000000,454178.000000,4.495115e+06,1.0

In [90]:
#Obtenemos número de nulos y cardinalidad de todas las variables
#Creamos el df de tipificación
def nulos_cardinalidad(df,umbral_categoria, umbral_continua):
    nulls=df.isna().sum().sort_values(ascending=False)
    nulls_rel=(df.isna().sum()/len(df)*100).sort_values(ascending=False)
    card=df.nunique()
    card_rel=df.nunique()/len(df)*100
    tipo=df.dtypes
    df_tipificacion= pd.DataFrame([nulls, nulls_rel, card, card_rel, tipo]).T.rename(columns = {0: "Nulls", 1: "Nulls_rel", 2: "Card", 3: "Card_rel", 4: "Tipo"}) #hace falta poner corchetes
    df_tipificacion["Clasificada_como"]="sin categoría" #partimos asumiendo que todas son categorica
    df_tipificacion.loc[df_tipificacion.Card == 2, "Clasificada_como"] = "Binaria"
    df_tipificacion.loc[df_tipificacion.Tipo == "datetime64[ns]", "Clasificada_como"] = "Fecha"
    df_tipificacion.loc[(df_tipificacion.Card > 2) & (df_tipificacion.Card < umbral_categoria), "Clasificada_como"] = "Categórica"
    df_tipificacion.loc[(df_tipificacion.Tipo == "float64") & (df_tipificacion.Card > 2) & (df_tipificacion.Card < umbral_categoria), "Clasificada_como"] = "Numérica ordinal"
    df_tipificacion.loc[(df_tipificacion.Tipo == "float64") & (df_tipificacion.Card > umbral_categoria) & (df_tipificacion.Card_rel < umbral_continua), "Clasificada_como"] = "Numérica discreta"
    df_tipificacion.loc[(df_tipificacion.Tipo == "float64") & (df_tipificacion.Card_rel > umbral_continua), "Clasificada_como"] = "Numérica continua"
    return df_tipificacion

In [91]:
print(f"EL dataframe tiene {len(df_21)} registros.")
df_tipificacion=nulos_cardinalidad(df_21,22,30)
df_tipificacion

EL dataframe tiene 41762 registros.

,Nulls,Nulls_rel,Card,Card_rel,Tipo,Clasificada_como
num_expediente,0,0.0,17943,42.964896,object,sin categoría
fecha,0,0.0,365,0.874,datetime64[ns],Fecha
hora,0,0.0,1106,2.648341,object,sin categoría
localizacion,0,0.0,13494,32.311671,object,sin categoría
numero,0,0.0,768,1.838992,object,sin categoría
cod_distrito,0,0.0,21,0.050285,float64,Numérica ordinal
distrito,0,0.0,21,0.050285,object,Categórica
tipo_accidente,0,0.0,13,0.031129,object,Categórica
estado_meteorológico,0,0.0,8,0.019156,object,Categórica
tipo_vehiculo,0,0.0,39,0.093386,object,sin categoría
tipo_persona,0,0.0,3,0.007184,object,Categórica
rango_edad,0,0.0,18,0.043101,object,Categórica
sexo,0,0.0,3,0.007184,object,Categórica
cod_lesividad,0,0.0,8,0.019156,float64,Numérica ordinal
lesividad,0,0.0,8,0.019156,object,Categórica
coordenada_x_utm,0,0.0,9430,22.580336,float64,Numérica discreta
coordenada_y_utm,0,0.0,10205,24.43609,float64,Numérica discreta
positiva_alcohol,0,0.0,3,0.007184,object,Categórica
positiva_droga,0,0.0,2,0.004789,object,Binaria
fecha_hora,0,0.0,16038,38.403333,datetime64[ns],Fecha

In [94]:
#Visualizamos los valores de las variables categóricas:
variables_categoricas=df_tipificacion.loc[df_tipificacion.Clasificada_como == "Categórica"].index.to_list()
variables_categoricas

['distrito',
 'tipo_accidente',
 'estado_meteorológico',
 'tipo_persona',
 'rango_edad',
 'sexo',
 'lesividad',
 'positiva_alcohol']

In [96]:
for categoria in variables_categoricas:
    frec_abs=df_21[categoria].value_counts(dropna=False)
    frec_rel=df_21[categoria].value_counts(dropna=False, normalize=True)*100
    df_frec=pd.concat([frec_abs, frec_rel], axis=1)
    df_frec.columns=["Frec. Absoluta", "Frec. Relativa (%)"]

    print(f"Resumen de {categoria}:")
    print(df_frec)
    print(f"Su cardinalidad es: {df_tipificacion.loc[categoria, "Card"]}")
    print("\n"*2)

Resumen de distrito:
                     Frec. Absoluta  Frec. Relativa (%)
distrito
PUENTE DE VALLECAS             3324            7.959389
SALAMANCA                      3072            7.355970
CIUDAD LINEAL                  2837            6.793257
CARABANCHEL                    2712            6.493942
CHAMARTÍN                      2707            6.481969
MONCLOA-ARAVACA                2303            5.514583
RETIRO                         2192            5.248791
CENTRO                         2162            5.176955
FUENCARRAL-EL PARDO            2141            5.126670
SAN BLAS-CANILLEJAS            2049            4.906374
LATINA                         2041            4.887218
CHAMBERÍ                       2036            4.875245
ARGANZUELA                     1987            4.757914
USERA                          1821            4.360423
TETUÁN                         1733            4.149705
HORTALEZA                      1556            3.725875
VILLAVERDE                     1385            3.316412
MORATALAZ                      1216            2.911738
VILLA DE VALLECAS              1055            2.526220
VICÁLVARO                       764            1.829414
BARAJAS                         669            1.601935
Su cardinalidad es: 21



Resumen de tipo_accidente:
                              Frec. Absoluta  Frec. Relativa (%)
tipo_accidente
Colisión fronto-lateral                10140           24.280446
Alcance                                 9873           23.641109
Colisión lateral                        5727           13.713424
Choque contra obstáculo fijo            5564           13.323117
Colisión múltiple                       3136            7.509219
Caída                                   2784            6.666347
Atropello a persona                     2593            6.208994
Colisión frontal                        1058            2.533404
Otro                                     540            1.293042
Solo salida de la vía                    153            0.366362
Vuelco                                   126            0.301710
Atropello a animal                        65            0.155644
Despeñamiento                              3            0.007184
Su cardinalidad es: 13



Resumen de estado_meteorológico:
                      Frec. Absoluta  Frec. Relativa (%)
estado_meteorológico
Despejado                      31881           76.339735
No consta                       4424           10.593362
Nublado                         2122            5.081174
Lluvia débil                    2089            5.002155
LLuvia intensa                   622            1.489392
Se desconoce                     408            0.976965
Nevando                          208            0.498060
Granizando                         8            0.019156
Su cardinalidad es: 8



Resumen de tipo_persona:
              Frec. Absoluta  Frec. Relativa (%)
tipo_persona
Conductor              33781           80.889325
Pasajero                6647           15.916383
Peatón                  1334            3.194291
Su cardinalidad es: 3



Resumen de rango_edad:
                 Frec. Absoluta  Frec. Relativa (%)
rango_edad
Desconocido                4672           11.187204
De 25 a 29 años            4487           10.744217
De 40 a 44 años            4291           10.274891
De 30 a 34 años            4290           10.272497
De 35 a 39 años            4037            9.666683
De 45 a 49 años            3999            9.575691
De 50 a 54 años            3412            8.170107
De 21 a 24 años            3042            7.284134
De 55 a 59 años            2738            6.556199
De 60 a 64 años            1774            4.247881
De 18 a 20 años            1390            3.328385
Más de 74 años              800            1.915617
De 65 a 69 años             791            1.894066
De 70 a 74 años             578            1.384033
De 10 a 14 años             427            1.022461
Menor de 5 años             421            1.008093
De 15 a 17 años             355            0.850055
De 6 a 9 años               258            0.617787
Su cardinalidad es: 18



Resumen de sexo:
             Frec. Absoluta  Frec. Relativa (%)
sexo
Hombre                25147           60.215028
Mujer                 12062           28.882716
Desconocido            4553           10.902256
Su cardinalidad es: 3



Resumen de lesividad:
                                                    Frec. Absoluta  \
lesividad
Sin asistencia sanitaria                                     31578
Asistencia sanitaria sólo en el lugar del accid...            5255
Ingreso inferior o igual a 24 horas                           1561
Atención en urgencias sin posterior ingreso                   1327
Asistencia sanitaria inmediata en centro de sal...             952
Ingreso superior a 24 horas                                    555
Asistencia sanitaria ambulatoria con posterioridad             506
Fallecido 24 horas                                              28

                                                    Frec. Relativa (%)
lesividad
Sin asistencia sanitaria                                     75.614195
Asistencia sanitaria sólo en el lugar del accid...           12.583210
Ingreso inferior o igual a 24 horas                           3.737848
Atención en urgencias sin posterior ingreso                   3.177530
Asistencia sanitaria inmediata en centro de sal...            2.279584
Ingreso superior a 24 horas                                   1.328959
Asistencia sanitaria ambulatoria con posterioridad            1.211628
Fallecido 24 horas                                            0.067047
Su cardinalidad es: 8



Resumen de positiva_alcohol:
                  Frec. Absoluta  Frec. Relativa (%)
positiva_alcohol
N                          40317           96.539917
S                           1278            3.060198
No consta                    167            0.399885
Su cardinalidad es: 3

In [71]:
#Convertimos los campos de fecha y hora a datetime y creamos una nueva columna:

df_21["fecha"] = pd.to_datetime(df_21["fecha"], errors="coerce", dayfirst=True) 
df_21["hora"] = pd.to_datetime(df_21["hora"], format="%H:%M:%S", errors="coerce").dt.time 
df_21["fecha_hora"] = df_21.apply( 
                            lambda row: pd.Timestamp.combine(row["fecha"], row["hora"])
                            if pd.notnull(row["fecha"]) and pd.notnull(row["hora"])
                            else pd.NaT,
                            axis=1 )

In [19]:
#Eliminamos dobles espacios y unificamos el formato de los campos: "num_expediente", "localizacion", "numero"
cols_string = ["num_expediente", "localizacion", "numero"] 
for col in cols_string: 
    df_21[col] = df_21[col].astype(str).str.lower().str.strip().str.replace(r"\s+", " ", regex=True)

In [21]:
df_21.head(5)

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,fecha_hora
0,2020s019534,2021-01-01,04:30:00,avda. pablo neruda / call. leoneses,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,14.0,Sin asistencia sanitaria,444976.0,4470508.0,N,NaN,2021-01-01 04:30:00
1,2020s019534,2021-01-01,04:30:00,avda. pablo neruda / call. leoneses,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,444976.0,4470508.0,N,NaN,2021-01-01 04:30:00
2,2020s019534,2021-01-01,04:30:00,avda. pablo neruda / call. leoneses,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,Desconocido,Desconocido,NaN,NaN,444976.0,4470508.0,N,NaN,2021-01-01 04:30:00
3,2020s019534,2021-01-01,04:30:00,avda. pablo neruda / call. leoneses,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 10 a 14 años,Hombre,14.0,Sin asistencia sanitaria,444976.0,4470508.0,N,NaN,2021-01-01 04:30:00
4,2020s019534,2021-01-01,04:30:00,avda. pablo neruda / call. leoneses,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 35 a 39 años,Mujer,14.0,Sin asistencia sanitaria,444976.0,4470508.0,N,NaN,2021-01-01 04:30:00

In [ ]:
#TRATAMOS LOS NULOS

# 1. Estado meteorlogico
df_21['estado_meteorológico'] = df_21['estado_meteorológico'].fillna('No consta') 
# 2. TIPO VEHÍCULO 
mask_no_aplica = df_21['tipo_persona'].str.lower().isin(['peatón', 'testigo']) 
# Peatón y testigo → No aplica 
df_21.loc[ mask_no_aplica & df_21['tipo_vehiculo'].isna(), 'tipo_vehiculo' ] = 'No aplica' 
# El resto de nulos → No consta 
df_21['tipo_vehiculo'] = df_21['tipo_vehiculo'].fillna('No consta') 
# 3. LESIVIDAD (ORDINAL) 
df_21['cod_lesividad'] = df_21['cod_lesividad'].fillna(14) 
df_21['lesividad'] = df_21['lesividad'].fillna('Sin asistencia sanitaria') 
# 4. ALCOHOL Y DROGAS 
df_21['positiva_alcohol'] = df_21['positiva_alcohol'].fillna('No consta') 
df_21['positiva_droga'] = df_21['positiva_droga'].fillna('No consta') 
# #5. Quedan 37 nulos, los eliminamos (41783 ---> 41762 registros)
df_21=df_21.dropna()